.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 6;

  .calendar-modal {
    width: 405px;
    height: 460px;

    position: relative;
    background: white;
    border-radius: 25px;

    margin: 0 auto;

    margin-top: 230px;
    display: flex;
    flex-direction: column;
  }

  .calendar-close {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    button {
      border: none;
      background-color: #38d9a9;
      cursor: pointer;
      width: 40px;
      height: 40px;
      color: white;
      border-radius: 50%;
      // transform: rotate(45deg);
      font-size: 30px;
    }
  }

  .calendar-header {
    margin-bottom: 20px;
  }

  .calendar-selector {
    font-size: 30px;
    font-weight: bolder;

    .calendar-date-change {
      font-size: 30px;
      font-weight: bolder;
      margin: 0 auto;
      cursor: pointer;
    }
  }

  .calendar-date-wrapper {
    width: 30px;
    display: inline-flex;
    flex-direction: column;
    padding: 10px 10px;
    margin: 0 auto;
    text-align: center;
    margin-left: 6px;
  }

  .calendar-date-wrapper.date {
    width: 30px;
    height: 30px;
    display: inline-flex;
    flex-direction: column;
    padding: 10px 10px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid beige;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    &:hover {
      background-color: #dddddd;
    }
  }
}
